In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('springboard name match.csv')
df.shape

(372502, 6)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372502 entries, 0 to 372501
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tax_id        372502 non-null  object
 1   first_name    371521 non-null  object
 2   last_name     372387 non-null  object
 3   first_name_1  371521 non-null  object
 4   last_name_1   372387 non-null  object
 5   is_match      372502 non-null  int64
dtypes: int64(1), object(5)
memory usage: 17.1+ MB

In [4]:
df.head(20)

,tax_id,first_name,last_name,first_name_1,last_name_1,is_match
0,AA-GHWkABomYWiiwpkqDM0R7t4d6yalHECSHQ==,nina,glassbrenner,jordan,keys,1
1,AA-DZJJiwe01diiTtOzLBRLkC20jfMkOlIK6w==,frank,zamora,francisco,zamora,1
2,AA-A16c2A7m+GQpZx18QfOwFXJUUtzfO9uAJQ==,bogdan,trytko,huynh,pháº¡m,1
3,AA-SnipYkssydmZjQae561XH4V2yKTRuXQgvQ==,stephen,lepold,stephen,leipold,1
4,AA-SnipYkssydmZjQae561XH4V2yKTRuXQgvQ==,stephen,stephen leipold,stephen,leipold,1
5,AA-NNsZ+6to2AlywIcH7uib+iaXOa4Id8Icng==,vishwas,ramesh,vishwas,vankalapati,1
6,AA-NZ6H7zgguACankwHaWctg/UerW6DQDBqmA==,james,poulter,nick,poulter,1
7,AA-lOdTxt/vxuenm91vMWp+xvNOlXyVb3CH5yVX,precious,carter,precious,carter fitzgerald,1
8,AA-kf8JdM4qt6dKeyEU7NfXfylA8BG+WB2khw==,nick,deckard,nicholas,deckard,1
9,AA-prm1QfjyGlzLX42J+WyAbdNWRtCmApXmGw==,alexander,bukhalo,isabella,bucci,1
10,AA-prm1QfjyGlzLX42J+WyAbdNWRtCmApXmGw==,alexandr,bondarev,isabella,bucci,1
11,AA-prm1QfjyGlzLX42J+WyAbdNWRtCmApXmGw==,allen,bonus,isabella,bucci,1
12,AA-prm1QfjyGlzLX42J+WyAbdNWRtCmApXmGw==,domineck,debrodie,isabella,bucci,1
13,AA-prm1QfjyGlzLX42J+WyAbdNWRtCmApXmGw==,osaze,aimien,isabella,bucci,1
14,AA-prm1QfjyGlzLX42J+WyAbdNWRtCmApXmGw==,mohammad,hussain,isabella,bucci,1
15,AA-prm1QfjyGlzLX42J+WyAbdNWRtCmApXmGw==,ye,oo,isabella,bucci,1
16,AA-prm1QfjyGlzLX42J+WyAbdNWRtCmApXmGw==,nwankwo,ebube,isabella,bucci,1
17,AA-prm1QfjyGlzLX42J+WyAbdNWRtCmApXmGw==,dorothe,schuch,isabella,bucci,1
18,AA-prm1QfjyGlzLX42J+WyAbdNWRtCmApXmGw==,gabriel,rd,isabella,bucci,1
19,AA-prm1QfjyGlzLX42J+WyAbdNWRtCmApXmGw==,mykhailo,tkachov,isabella,bucci,1